<h4>{{formatedCreatedAt}}</h4>
<div class="list-group-item">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <button type="button" class="btn btn-default">Mon</button>
      <button type="button" class="btn btn-default">Tue</button>
      <button type="button" class="btn btn-default">Wed</button>
      <button type="button" class="btn btn-default">Thu</button>
      <button type="button" class="btn btn-default active">Fri</button>
      <button type="button" class="btn btn-default">Sat</button>
      <button type="button" class="btn btn-default">Sun</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-succes" {{action 'newEntry'}}>
        <i class="fa fa-plus"></i>  New entry
      </button>
    </div>
  </div>
  <div style="margin-top: 10px;" />

  {{#each entries}}
    <div class="list-group-item">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <span class="label label-primary">{{project.name}}</span>
          <p>{{text}}</p>
        </div>
        <div class="col-xs-6 col-md-4">
          <b>{{elapsedTime}}</b>
          {{view App.StartStopButtonView entryId=id}}
          <button type="button" class="btn btn-warning" {{action 'edit' id}}>
            <i class="fa fa-pencil-square-o"></i> Edit
          </button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
